<br>
<br>
<br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>
<div class='container'>
 <ul> 
  <p>
      <h1><u><%= @organization.name %></u></h1>
    </p>

    <div id='description'><p>
        <%= @organization.description %>
    </p></div>

    <p>
      <strong>Location:</strong>
      <%= @organization.address1 %>
    </p>
    <p>
      <strong>Country:</strong>
      <%= @organization.country %>
    </p>

    <p>
      <strong>Ages:</strong>
        <%= @organization.age %>
    </p>
     <p>
      <strong>Length of trip:</strong>
      <%= @organization.length %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= @organization.cost %>
    </p>

    <p>
    <strong>Visit website:</strong>
    <%= link_to @organization.name, @organization.source%>
     <p><%= link_to 'Back', organizations_path %></p>
  </ul>

</div>

