<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @organization.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @organization.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @organization.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @organization.country %>
</p>

<%= link_to 'Back', organizations_path %>
