<!DOCTYPE html>
<html>
<head>
  <title>VolunteerIsrael</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<%= render "partials/navbar" %>

    <%= render "partials/flash" %>

    <%= yield %>
    <%= render "partials/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
